extends includes/layout.jade

block title
	title Calcula cu치nto cobrar por un proyecto

block container
	
	
	section#app.g-container.c-block-1
		//- .span {{ $data }}
		header.c-header
			img.c-header__logo(src="images/logo-nigbox.png", alt="Logo Nigbox")
				
		.c-block-1__container
			
			article.c-block-1__item--v2
				h1.o-heading-normal-4.c-block-1__item-title Calcula cu치nto cobrar por un proyecto
				p.c-block-1__text-intro Antes de empezar definamos lo siguiente:
			
			article.c-block-1__item
				h2.o-heading-normal-1-2.c-block-1__heading De acuerdo a tus habilidades y a침os de experiencia 쮺u치nto crees que mereces ganar al mes?
				
				input#sueldo(type="number" :data-slider-value="sueldo")
				
				.c-block-1__price {{ sueldo_paralelo |맔oney(moneda) }}
			
					
					
			article.c-block-1__item
				h2.o-heading-normal-1-2.c-block-1__heading Selecciona los d칤as de la semana que trabajas
				
				ul.c-list--v5
					li(v-for="(dia, index) in dias")
						.o-form-check
							input.o-form-check__campo(:id="'check_dia-' + (index+1)", type="checkbox", name="complementos", v-model.number="dia.activo")
							label(:for="'check_dia-' + (index+1)")
							span {{ dia.dia }}
							
					
			article.c-block-1__item
				h2.o-heading-normal-1-2.c-block-1__heading 쮺u치ntas horas trabajas al d칤a?
				
				ul.c-list--v5
					li
						.o-form-number
							span.icon-minus-circle(@click="horas_dia--")
							input.o-form-number__field(type="number", name="paginas_internas", min="1", max="50", v-model.number="horas_dia")
							span.icon-plus-circle(@click="horas_dia++")
								
								
			
			article.c-block-1__item
				h2.o-heading-normal-1-2.c-block-1__heading(style="margin-bottom:10px") 쮺u치nto suman tus gastos al mes?
				
				p.c-block-1__text-intro Por ejemplo licencias de software, luz, agua, empanadas 游땚, etc...
				
				input#gastos(type="number" :data-slider-value="gastos_mes")
					
				
				.c-block-1__price {{ gastos_mes_paralelo |맔oney(moneda) }}
				
				
							
					
				
		.c-block-1__container-2
			.c-pedido.js-pedido
				h3.c-pedido__title Resumen del proyecto
				p.c-pedido__intro(v-if="!costo_total") Agrega actividades a tu proyecto
				
				.c-pedido__content(v-else="costo_total")
					table.c-table-dark
						thead
							tr
								th.padding Actividad
								th.c-table-dark__center(width="10%") Horas
								th.c-table-dark__center(width="20%") Costo
								th(width="10%")
						tbody
							tr(v-for="(actividad, index) in activities")
								td.padding {{ actividad.nombre }}
								td.c-table-dark__center {{ actividad.horas }}
								td.c-table-dark__center {{ actividad.precio | money('') }}
								td.c-table-dark__center: a.icon-bin(href="#." @click="borrarActividad(index, $event)")
				
				form(@submit.prevent="agregarActividad")
					.c-pedido__add-actividad
						.c-pedido__col-1
							label.o-label-dark Actividad
							input#agregarActividad.o-form-field--dark(type="text", placeholder="Escribe la actividad a realizar" required  v-model="actividad")
						.c-pedido__col-2
							label.o-label-dark Horas
							input.o-form-field--dark-center(type="number", value="1" required  v-model.number="horas")
								
						.c-pedido__btn
							button.o-btn--full Agregar actividad
					
				
				.c-pedido__costo.icon-wallet(v-if="costo_total")
					span.c-pedido__text-1 El costo de tu proyecto es
					.c-pedido__total#costoTotal(:data-valor="costo_total") {{ costo_total | money(moneda) }}
					//- .c-pedido__total {{ costo_total }}
