/*----------------------------------------------------------------------------*
	$HEADER
*----------------------------------------------------------------------------*/

html
	font-size: $base-font-size

body
	background: #F4F6F8 url($img-path + 'bg-body.png') center center repeat-x fixed
	background-size: cover
	font-family: $base-font-family
	font-size: $text-size.normal
	font-weight: $base-font-weight
	line-height: $base-line-height
	color: $base-text-color
	font-smoothing()
	overflow-x: hidden
