/*----------------------------------------------------------------------------*
	$INDEX LAYOUTS
*----------------------------------------------------------------------------*/


/**
 *
 * Layouts: global
 * Contiene los estilos que se usarán en todas las páginas
 *
 */
@import	'header'
@import	'main'
@import	'footer'


/**
 *
 * Layouts: pages
 * Estilos para páginas específicas
 *
 */
@import	'home'
@import	'contact'
