doctype
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		//- Desactivar en dispositivos móviles la detección automática de números de teléfono, emails, direcciones y fechas.
		meta(name="format-detection", content="telephone=no, email=no, address=no, date=no")

		block title
			title Titulo de la página

		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		
		//- Fonts
		link(rel="stylesheet", href="https://use.typekit.net/kra1kqk.css")
		
		//- Estilos globales
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/css/bootstrap-slider.min.css")
		
		link(rel="stylesheet", href="assets/css/global.css")
		
	body
	
		block container
		
		// Vendors
		script(src="assets/js/vendor.js")
		
		script(src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/bootstrap-slider.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js")
			

		// Scripts globales 
		script(src="assets/js/global.js")


		block js_footer
