/*----------------------------------------------------------------------------*
	$VIDEO
*----------------------------------------------------------------------------*/


/* ^.o-video
-----------------------------------------------------------------------------*/

.o-video
	position: relative
	margin-top: 64px
	margin-bottom: 53px

	figure
		position: relative
		border: 5px solid #faed99
		z-index: 10

		img
			display: block


/* ^Fin - .o-video
-----------------------------------------------------------------------------*/
