/*----------------------------------------------------------------------------*
	$C-HEADER
*----------------------------------------------------------------------------*/


/* ^.c-header
-----------------------------------------------------------------------------*/

.c-header
	padding: 38px 20px 25px 20px

	+min('xl')
		col(13,20,$g:0)

	+max('xl')
		width: 100%

.c-header__logo
	display: block
	width: 180px
	margin: 0 auto

/* ^Fin - .c-header
-----------------------------------------------------------------------------*/
