/*----------------------------------------------------------------------------*
	$STATES
	Contiene estilos que controlan eventos de JavaScript.
*----------------------------------------------------------------------------*/

.is-hidden
	display: none
