/*----------------------------------------------------------------------------*
	$ICONS
*----------------------------------------------------------------------------*/

/*

$icon-fonts = {
	icons1: {
		name         : 'icomoon',
		src          : 'icons/icomoon/icomoon-font',
		class-prefix : moon,
		id-svg       : icomon
		glyphs       : {
			flecha: '\ea4d',
			casa: 'dato2',
			pajaro: 'dato3',
			compu-mac: 'dato4'
		}
	}
}

for iconn-font-name, val in $icon-fonts
	font-icon(val.name, val.src, val.glyphs, -if-exist(val.class-prefix), val.id-svg)

*/
