/*----------------------------------------------------------------------------*
	$GLOBAL
	Carga todos los recursos requeridos y los compila en un único archivo
*----------------------------------------------------------------------------*/

/**
 *
 * == $load-grid ==
 * Definir en true para cargar la grilla.
 *
 */
$load-grid = false

@import 'base/config'
@import 'base/functions'
@import 'base/mixins/'
@import 'base/elements/'

@import 'layouts/*'

@import 'objects/*'

@import 'components/*'

@import 'vendors/'
